 /* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
} */

td
/*th*/ {
    border: 2px solid rgb(5, 38, 71)
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.btnExcluir:link,
.btnExcluir:visited {
    background-color: #f44336;
    color: rgb(212, 206, 206);
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.btnEditar:link,
.btnEditar:visited {
    background-color: rgb(6, 35, 59);
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.btnExcluir:hover,
.btnExcluir:active {
    background-color: #f44336;
    border-radius: 5px;
}

.btnEditar:hover,
.btnEditar:active {
    background-color: rgb(6, 35, 59);
    border-radius: 5px;
}

.linkNovo {
    margin-top: 10px;
}

.linkNovo:link,
.linkNovo:visited {
    background-color: rgb(6, 35, 59);
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.linkNovo:hover,
.linkNovo:active {
    background-color: rgb(6, 35, 59);
    border-radius: 5px;
}

.sub_titulo {
    text-align: center;
    background-color: #4682B4;
    border-radius: 5px;
}